.bag {
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    height: 69vh;
    background-image: url("../image/matoshreeHouse_13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
}

.first-info {
    text-align: center;
    margin: 11rem 0rem;
    /* color: white; */
}

.first-info h1 {
    font-size: 60px;
}

.first-info h2 {
    font-size: 50px;
}

.first-info h3 {
    font-size: 30px;
}

.main-item h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 1rem;
}

.food h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 2rem;
}

.food table {
    border-collapse: collapse;
}

.food-table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.food table th,
td {
    border: 2px solid black;
    padding: 1rem;
}

.food table td ul {
    padding-left: 1rem;
}

.room-photo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 1rem;
}

.image {
    width: 45%;
}

.image img {
    width: 80%;
    margin-left: 3rem;
    box-shadow: 0px 0px 4px #000;
}

.info {
    width: 50%;
}

.op3 {
    display: flex;
    flex-direction: column;
}

.op3 h1 {
    color: black;
    margin: 1rem 0rem;
    font-size: 50px;
}

.op2 {
    width: 100%;
    overflow: hidden;
}

.photo-room {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 300%;
    transition: transform 1s ease-in-out;
}


.image-slide,
.image-slide1 {
    width: 50%;
    height: 40vh;
    margin: 1rem 0.7rem;
    overflow: hidden;
}

.image-slide img {
    width: 100%;
    height: 100%;
}

.photo-pool {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 300%;
    transition: transform 1s ease-in-out;
}

.image-slide1 img {
    width: 100%;
    height: 100%;
}


.facilitie-image {
    position: absolute;
    top: 152%;
    left: 0;
    width: 100%;
    height: 69vh;
    background-image: url("../image/matoshreeHouse_1.1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(10px);
}

.ffacilitie {
    margin: 10rem 0rem;
}

.ffacilitie h1 {
    align-items: center;
    padding-bottom: 2rem;
}

.ffacilities {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    background-color: white;
    /* border: 2px solid black; */
    width: 21%;
    height: 30vh;
    text-align: center;
    padding: 1.5rem 0.5rem;
    box-shadow: 0px 0px 8px #000;
}

.box ul {
    padding-top: 0.5rem;
    list-style-type: none;
}

.rule h1 {
    text-align: center;
    font-size: 50px;
}

.rule .term{
    padding: 1rem 2rem;
    font-size: 20px;
    line-height: 35px;
}